.app-container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.app-header{
    background-color: #6d7275;
    order:1;
    flex:0 0 100%;
}

.app-aside {
    order: 2;
    flex: 1 1 1%;
    background-color: #1652df;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3em;
}
.app-playground
{
    background-color: #c7d6d5;
    order:3;
    flex:4 1;
    overflow-x: auto;
    min-height: 100vh;
}

.app-title{
    font-size: 3em;
    color: #fff;
    margin : 0 auto 1em auto;
}